html {
  background-color: #33cc33;
}

h1 {
  font-size: 4em;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;

}

h2 {
  font-size: 2em;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;


}
